# Ignora tutto
*

# Eccezioni: file da tracciare
!.gitignore
!index.html
!andrea_bonacci_cv.pdf
!print.html
!en.html
!print-en.html
!andrea_bonacci_cv_en.pdf
!README.md
!LICENSE
!assets/
!assets/preview.png
!assets/foto-profilo-crop.jpg
!assets/icons/
!assets/icons/*
!manifest.json
!service-worker.js
